.active {
    opacity: 1;
    @apply bg-base-100;
    @apply rounded-[100%] md:rounded-none;
    transform: translateY(0);

    .item {
        opacity: 1;
    }
}

.logo {
    font-family: 'Helvetica', sans-serif;
    @apply text-4xl md:text-5xl;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: normal;
}


.nav {
    font-family: 'Noto Serif Variable', serif;
    text-transform: lowercase;
}