.btn {
  width: 580px;
  height: 250px;

  color: #FFF;
  font-family: "Yeseva One";
  font-size: 40px;
  font-weight: 400;
  text-transform: lowercase;

  border: transparent;
  border-radius: 580px/240px;
}